<div class="title-image">
  <%= image_tag("glenville-logo.00_png_srb", class: "glenville-logo") %>
  <%= image_tag("glenville.jpg", class: "glenville-background") %>
</div>

<div class="row home-page-info">
  <div class="small-7 column">
    <h2>Allston's Neighborhood Tavern</h2>
    <ul>
      <li>bar bites, small plates, shareable entrées and desserts</li>
      <li>vegetarian and vegan dishes</li>
      <li>weekend brunch, featuring Full Monty fryup & Ploughman's Lunch</li>
      <li>31 world-class craft beers on tap, including ciders and mead</li>
      <li>plus gravity-fed cask ale on the backbar 365-days a year</li>
      <li>30 wines by-the-glass, as well as sherries and ports</li>
      <li>comprehensive award-winning wine list</li>
      <li>wheelchair accessible; families with children welcome</li>
      <li>lowest prices for the highest quality in the Allston-Brookline area</li>
      <li>relaxed, attentive service -- family owned, managed, and staffed</li>
      <li>top-rated "Neighborhood Gem" in Greater Boston by Open Table diners</li>
      <li>top-rated "Gastropub" in Greater Boston by Yelp reviewers</li>
    </ul>
  </div>
  <div class="small-5 column">
    <h2> Hours & Info
    Location:  87 Glenville Ave, Allston, MA 02134<br>
    Phone:  617-903-3638<br>
    Dinner:  Mon–Wed  5–10pm; Thu–Sat  5–11pm; Sun  5–9pm<br>
    Brunch:  Sat–Sun  11am–3pm<br>
    Bar:  until 1 am, Sun til 9pm<br>
    Closed:  Thanksgiving, Xmas, New Year's days<br>
    Parking: Directions below, or give us a call
  </div>
</div>
<div class="directions-home">
  <div class="row">
  <h2>Directions</h2>
  <p>Location<br>
    Glenville Ave is a one-way residential street, SW off Harvard Ave in Allston; it is a block north of, and parallel with, Commonwealth Ave.  At #87, we do not have a sign but are right next to the M&M convenience store at the junction of Glenville Ave and Price Road; we are less than 250 yards from both the T and free parking.</p>
  <p>By T<br>
    From Boston, take the Green Line's regretably slow yet culturally entertaining B-Trolley to the Griggs St station.  Walk thirty yards up Comm Ave--away from Boston and to your left as you exit the trolley--then turn right; walk ninety yards north on Long Ave to Glenville Ave and turn right.  We are seventy yards, on the left, next door to May's Café.</p>
  <p>By Bus<br>
    Convenient stops are at:
      Union Square (0.5 miles, a 9-min stroll): #66 from Harvard Sq; #57 from Watertown
      Harvard Ave & Comm Ave (0.3 miles, a 5 min stroll): #66 from Brookline Village</p>
  <p>On Foot<br>
    Centrally-located yet discretely tucked-away, The Glenville Stops is only:
      0.3 miles to the Great Scott concert venue, a 6-minute stroll<br>
      0.5 miles from Allston's Union Square, a 9-min stroll<br>
      0.9 miles to the Paradise Rock Club, a 19-min walk <br>
      1.0 miles from Coolidge Corner in Brookline, a 20-min walk<br>
      1.0 miles from Washington Square in Brookline, a 23-min walk allowing for slower progress up the hill<br>
      1.1 miles from the Honan-Allston Branch Library in Lower Allston, a 22-min walk<br>
      1.4 miles to Sculler's Jazz Club at The Doubletree Suites Hotel on Storrow Drive, a 29-min walk<br>
      1.5 miles from the Boston University Mugar Library, a 32-min walk<br>
      1.8 miles from Oak Square in Brighton, a 35-min walk<br>
      2.1 miles from Harvard Square, a comfortable 43-min for committed walkers</p>
  <p>By Uber<br>
    Why drive--with the hassle of parking and drunk-driving laws--now there are low-cost ride-share services?  Uber cabs are prolific in the Allston / Brookline / Brighton area.  There is also a traditional taxi rank, 450 yards away at the Harvard Ave T station.</p>
  </div>
</div>
<div class="news-home">
  <div class="row">
    <h2>News & Events</h2>
    <p>Cask Ale<br>
     Just tapped:  Ipswich Ale dry-hopped with Simcoe</p>
 
    <p>Tap News<br>
      After a year with Gaymer's dry Blackthorn Cider we are trying a keg of Crispin Original, which is off-dry and a tad apple-ier.<br>
      Sadly, the High & Mighty brewery did not make it through the winter after suffering burst pipes and cracked boiler at its Holyoke facility.  Consequently we have replaced our beloved Beer of the Gods wuth Cisco's coriander-citrus Grey Lady.</p>
 
    <p>Wine List<br>
      We now have a chianti glass-pour, Pio II, a 2007 DOCG from the Piemont.  Excellent value at $9, and with eight years' maturity adding complex phenols, Pio's sangiovese grape has striking earth and fruit yet sufficiently mellow tannins and acidity to pair beautifully with our more robust small plates and entrees.</p>
  </div>
</div>
<div class="reservations-home">
  
</div>